.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 100px;
}

.confettiButton {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.counter {
  font-family: "Orbitron", sans-serif; /* Футуристичный шрифт */
  font-size: 6rem;
  font-weight: 900;

  /* Цвет самого текста — темный, но с ярким контуром */
  color: #001a1a;
  -webkit-text-stroke: 1px #00ffff;

  /* Многослойное свечение для глубины */
  text-shadow:
    0 0 5px rgba(0, 255, 255, 0.8),
    0 0 15px rgba(0, 255, 255, 0.5),
    0 0 30px rgba(0, 255, 255, 0.3),
    0 0 50px rgba(0, 255, 255, 0.2);

  /* Анимация легкого мерцания (опционально) */
  animation: flicker 3s infinite alternate;
}
