.title {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 2.5rem;
  color: blue;
}
p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: green;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
}
nav {
  margin-right: 1rem;
  color: white;
  text-decoration: none;
}
a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}
.active {
  font-weight: bold;
  color: #ff6347;
}
