---
import Layout from "../layouts/Layout.astro";

const title = "My Astro Main Page";

const skills = [
  "JavaScript",
  "TypeScript",
  "React",
  "Node.js",
  "Astro",
  "CSS",
  "HTML",
];
---

<Layout>
  <h1 class="title">{title}</h1>
  <p>This is the homepage of my blog built with Astro.</p>
  <h2>My Skills</h2>
  <ul>
    {skills.map((skill) => <li>{skill}</li>)}
  </ul>
</Layout>
